<%- include("../partials/header") %>
<!-- Content -->
<div class="container-fluid mb-4 px-5">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">QurinyCamp</p>
      <div class="list-group">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 1</li>
        <li class="list-group-item">Info 1</li>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <img class="card-image-top" src="<%= campground.image %>" alt="<%= campground.name %>" />
        <div class="card-body">
          <h4 class="float-right">$<%= campground.price %>/night</h4>
          <h4 class="card-title"><a href=""><%= campground.name %></a></h4>
          <p class="card-text"><%= campground.description %></p>
          <p>
            <em>Posted &#64; <%= campground.author.username %> - <%= moment(campground.createdAt).fromNow() %></em>
          </p>
          <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
          <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
          <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
            <button class="btn btn-sm btn-danger">Delete</button>
          </form>
          <% } %>
        </div>
      </div>
      <div class="card mt-2">
        <div class="card-header">
          <a class="btn btn-success float-right" href="/campgrounds/<%= campground._id %>/comments/new">Add new
            Comment</a>
        </div>
        <% campground.comments.forEach((comment) =>{ %>
        <div class="row card-body">
          <div class="col-md-12 ">
            <strong><%= comment.author.username %></strong>
            <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
            <p><%= comment.text %></p>
            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
            <a class="btn btn-sm btn-warning"
              href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
            <form class="delete-form"
              action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
              <input class="btn btn-sm btn-danger" type="submit" value="Delete" />
            </form>
            <% } %>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Post new campground</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-5">
        <form action="/campgrounds" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" id="name" name="campground[name]" placeholder="name">
          </div>
          <div class="form-group">
            <label for="image">Image</label>
            <input class="form-control" type="file" id="image" name="image" accept="image/*" required>
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input class="form-control" type="number" id="price" name="campground[price]" placeholder="price" min="0.01"
              step="0.01" />
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"
              placeholder="description"></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-lg btn-success btn-block mybtn">Submit</button>
          </div>
        </form>
        <a href="/campgrounds"> &#8592 Go Back</a>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<%- include("../partials/footer") %>